@font-face {
    font-family: "inter";
    src: url("../fonts/Expo-Arabic-Bold.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/Expo-Arabic-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "DM Sans2";
    src: url("../fonts/Expo-Arabic-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "DM Sans3";
    src: url("../fonts/Expo-Arabic-Light.ttf");
    font-weight: 200;
}